#PageName {
    display: flex;
    width: 100%;
}

.ClaimDisplay {
    display: flex;
    align-content: flex-end;
    text-align: end;
    margin: auto;
}

    .ClaimDisplay input {
        background: #d3d3d3;
    }

.FormHeader {
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom: 3%;
}

.Title {
    font-size: 22px;
}

.StatusLine {
    display: flex;
}

.StatusBox {
    height: 18%;
    margin-top: 50%;
}

.StatusLine div {
    margin: 0% 5% 5% 5%;
}

.StatusLine img {
    display: inherit;
    max-width: 20px;
}

.StatusDivider {
    width: 3%;
    height: 50%;
    border: 1px solid black;
    margin-left: 9px;
    margin-bottom: 10px;
    background-color: lightgray;
}


.FormLabel {
    display: block;
    justify-content: flex-start;
}

.FormInput {
    background-color: lightgray;
}

input {
    border-radius: 3%;
}

.MarginLabel div {
    margin-bottom: 4%;
}

.MarginInput div {
    margin-bottom: 3%;
}

.MarginInput div {
    max-width: 100%;
}

.NoteInput input {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 150%;
}


.btnUpload input {
    padding-right: 10%;
    padding-left: 10%;
}

.btnUpload2 input {
    background-color: #9E1C35;
    color: white;
    padding-right: 10%;
    padding-left: 10%;
}


.RowBottomMargin {
    margin-bottom: 0px;
}

.RowTopMargin {
    margin-top: 0px;
}

.EvalBox {
    background-color: lightgray;
    margin-top: 20%;
    padding-bottom: 10%;
    border-radius: 2%;
    border: 1px solid black;
    max-width: 90%;
}

    .EvalBox input {
        width: 90%;
    }

    .EvalBox h3 {
        text-decoration: underline;
        font-size: 15px;
        font-weight: bold;
        margin-left: 0px;
    }

.btnEdit input {
    width: 100%;
}

.btnEdit2 input {
    background-color: #9E1C35;
    color: white;
    width: 100%;
}

.Message {
    font-weight: bold;
    color: darkred;
    font-size: 12px;
}
