.FormHeader {
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom: 3%;
}

.Title {
    font-size: 22px;
}

.DisplayBG {
    background-color: #C4C4C4;
}

.DBorder1{
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.DBorder2 {
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.DisplayLine{
    display:flex;
}

.DInputPair{
    margin: 1% 1% 1% 1%;
}

.EInputPair {
    display:flex;
    margin: 1% 1% 1% 1%;
}

.StatusLine {
    display: flex;
}

.StatusBox {
    height: 18%;
    margin-top: 50%;
}

.StatusLine div {
    margin: 0% 5% 5% 5%;
}

.StatusLine img {
    display: inherit;
    max-width: 20px;
}

.StatusDivider {
    width: 3%;
    height: 50%;
    border: 1px solid black;
    margin-left: 9px;
    margin-bottom: 10px;
    background-color: lightgray;
}


.FormLabel {
    display: block;
    justify-content: flex-start;
}

.FormInput {
    background-color: lightgray;
}

input {
    border-radius: 3%;
    text-align:center;
}

.MarginLabel div {
    margin-top: 6%;
    margin-bottom: 5%;
}

.MarginInput div {
    margin-bottom: 3%;
}

.MarginInput div {
    max-width: 100%;
}

.NoteInput input {
    padding-top: 10%;
    padding-bottom: 10%;
    width: 200%;
    margin-left:15px;
}


.btnUpload input {
    background-color: #ADADAD;
    color: white;
    padding-right: 10%;
    padding-left: 10%;
}

.btnUpload2 input {
    background-color: #9E1C35;
    color: white;
    padding-right: 10%;
    padding-left: 10%;
}


.RowBottomMargin {
    margin-bottom: 0px;
}

.RowTopMargin {
    margin-top: 0px;
}

.EvalBox {
    background-color: lightgray;
    margin-top: 20%;
    padding-bottom: 10%;
    border-radius: 2%;
    border: 1px solid black;
}

    .EvalBox input {
        width: 90%;
    }

    .EvalBox h3 {
        text-decoration: underline;
        font-size: 15px;
        font-weight: bold;
        margin-left: 0px;
    }

.btnEdit input {
    background-color: #9E1C35;
    color: white;
    width: 100%;
}

.Message {
    font-weight: bold;
    color: darkred;
    font-size: 12px;
}
